
.topnav #instagram{
    width : 100px;
    height : 30px;
    float : left;
    margin : 20px 100px 10px 10px;
   
}

input#search{
    float : left;
    background-image : url("img/Search.png");
    box-sizing : border-box;
    border : 2px solid #ccc;
    border-radius : 8px;
    font-size : 16px;
    background-color: white; 
    background-position: 11px 11px; /* 돋보기 위치 조정 */
    background-repeat: no-repeat;
    background-size : 20px 20px;
    padding : 12px 20px 12px 50px;
  

    /* 상대위치 조정*/
    position : absolute;
    top : 50%; 
    transform : translate(0, -50%);
}



.search-modal{
    height: 400px;
    width : 400px;
    max-width : 100%;
    background : gold;
    border-radius : 10px;
    position : relative;
    margin : 0;
    left : 140px;
    right : 200px;
    top : 80px;
    animation : slideInUp 0.5s;
    display : none 
}

.search-modal-header {
    left: -500px;
    display: flex;
    padding : 10px;
    border-bottom : 1px solid #000 17;
}

.search-modal-header h3{
    font-size :16px;
    text-transform: uppercase;
    font-weight : 500;
    float:left;
}

.search-modal-header span img{
    float:right;
    position : absolute;
    right : 16px;
    top : 25px;
    margin : 0 auto;
    cursor : pointer;
    transition: 0.5s all;
}

.search-modal-header span img:hover{
    transform : scale(1.1);
}

.search-modal-body {
    padding : 20px;
    height : 285px;
    overflow-y : scroll;
}

.search-modal-body .message{
    display : flex;
    cursor : pointer;
    padding : 10px 15px;
    border-radius : 10px;
}

.search-modal-body .message-avatar{
    margin-right :16px;
    margin-top : 10px;

}

.search-modal-body .message-avatar img {
    height : 60px;
    width : 60px;
    border-radius : 30px;
    object-fit : c over;
    box-shadow : 0 4px 8px rgba(0,0,0,0.45);
}

.search-modal-body .message-body{
    margin-left : 0;
    margin-top : 8px;
}
.search-modal-body .message-body p {
    margin-bottom : 0;
    font-size : 14px;
    font-weight: 500;
    color : #444;

}

.search-modal-body .message-body small{
    font-weight :400;
    font-family : Dosis;
    color: #777;
}

.search-modal-body .message:hover{
    background-color: #2f94d8 17;
}

.search-modal-body::-webkit-scrollbar{
    width :5px;
}

.search-modal-body::-webkit-scrollbar-track {
    background:transparent;
}

.search-modal-body::-webkit-scrollbar-thumb {
    background:white;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius:10px;
    box-shadow : -1px 0 5px rgba(0,0,0,0.15);
}

.search-modal-body::-webkit-scrollbar-thumb:hover{
    background : #555;
}

@keyframes slideInUp{
    from{
        -webkit-transform : translate3d(0,15%,0);
        transform : translate3d(0,15%,0);
        visibility: visible;
    }
    to{
        -webkit-transform : translate3d(0,0,0);
        transform : translated3d(0,0,0);
    }
}


.topnav{
    width : 100%;
    height : 60px;
    background-color:#ccc;
    overflow: visible;
    padding-bottom : 10px;
    border-bottom : 1px solid gray;
    position : relative;
}

.topnav .nav_item{
    
    position : absolute;
    top: 50%;
    right : 0%;
    transform: translate(0, -50%);

}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding : 14px 16px;
    text-decoration: none;
    font-size:17px;
}

.topnav a:hover {
    background-color: #ddd;
    color:black;
}

.topnav a.active{
    background-color: #04AA6D;
    color:white;
}